.home-background {
    background: url(./homeBackground.jpg);
    height: 100vh;
    margin: 0;
    background-repeat: no-repeat;
	background-position: center;
    background-size: cover;
}
.home {
    background: burlywood;
    border: 2px blanchedalmond solid;
    margin-top: 5%;
    border-radius: 25px;
}
.bottom-links {
    margin-top: 2%;
    background: burlywood;
    border: 2px blanchedalmond solid;
    border-radius: 25px;
}
.title {
    margin-top: 25px;
}
.take-survey {
    margin: 25px;
}
a {
    color: grey;
}
a:hover {
    font-weight: 600;
    color: grey;
    font-style: none;
}
input {
    width: 100%;
    border-radius: 5px;
}
.input-title {
    font-weight: 500;
}
input:focus {
    outline: none;
}